:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --input-bg: #000000;
    --button-bg: #785240;
    --button1-bg: #B6A496;
    --button-text: #ffffff;
    --heading1: #785240;
}

[data-theme="dark"] {
    --background-color: #B4B8C5;
    --text-color: #000000;
    --input-bg: #000000;
    --button-bg: #35241D;
    --button1-bg: #866F5B;
    --button-text: #ffffff;
    --heading1: #35241D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Karla, sans-serif;
    background-color: var(--background-color);
    transition: background-color 0.3s, color 0.3s;
}
h1
{
    font-family: Rubik, sans-serif;
    color: var(--heading1);
}
