:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --input-bg: #000000;
    --button-bg: #785240;
    --button1-bg: #B6A496;
    --button-text: #ffffff;
    --heading1: #785240;

    --h1-size: 2.5rem;
    --h2-size: 2rem;
    --h3-size: 1.75rem;
    --h4-size: 1.5rem;
    --p-size: 1rem;
}

[data-theme="dark"] {
    --background-color: #B4B8C5;
    --text-color: #000000;
    --input-bg: #000000;
    --button-bg: #35241D;
    --button1-bg: #866F5B;
    --button-text: #ffffff;
    --heading1: #35241D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Karla, sans-serif;
    background-color: var(--background-color);
    transition: background-color 0.3s, color 0.3s;
}

h1
{
    font-size: var(--h1-size);
    font-family: Rubik, sans-serif;
    color: var(--heading1);
}

h2
{
    font-size: var(--h2-size);
    font-family: Rubik, sans-serif;
    color: var(--heading1);
}

h3
{
    font-size: var(--h3-size);
    font-family: Rubik, sans-serif;
    color: var(--heading1);
}

p
{
    font-size: var(--p-size);
    color: var(--text-color);
}

button
{
    background-color: var(--button-bg);
    color:  var(--button-text);
    border: none;
    font-size: var(--p-size);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--button1-bg);
}


@media (max-width: 768px) {
    :root {
        --h1-size: 2rem;
        --h2-size: 1.75rem;
        --h3-size: 1.5rem;
        --h4-size: 1.25rem;
        --p-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    :root {
        --h1-size: 1.75rem;
        --h2-size: 1.5rem;
        --h3-size: 1.25rem;
        --h4-size: 1.125rem;
        --p-size: 0.775rem;
    }

}
