.header {
    width: 100%;
    height: 100px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 5;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    width: 90%;
}

.navbar-logo {
    height: 77px;
    width: auto;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-link {
    color: var(--heading1);
    font-family: Inter, sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #9b6a3c;
}

.profile-icon {
    font-size: 2.0rem;
    color: var(--heading1);
    cursor: pointer;
}

.theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    font-size: 1.8rem;
    color: var(--heading1);
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.theme-toggle-button:hover {
    color: #9b6a3c;
}


.hamburger-menu {
    display: none;
    cursor: pointer;
    color: var(--heading1);
}


@media (max-width: 568px) {
    .navbar-right {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: var(--background-color);
        width: 100%;
        height: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        z-index: 10;
    }
    .navbar-right.open {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    .theme-toggle-button
    {
        padding-left: 0px;
    }

    .navbar-link
    {
        margin-right: 0px;
    }


}